<div class="create-post-container">
  <h2>Crear Nueva Publicación</h2>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <!-- Título -->
    <div class="form-group">
      <label for="title">Título</label>
      <input id="title" type="text" class="form-control" formControlName="title" />
      <div *ngIf="createForm.get('title')?.invalid && createForm.get('title')?.touched" class="error">
        El título es obligatorio y debe tener máximo 100 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="content">Contenido:</label>
      <quill-editor
        id="content"
        formControlName="content"
        [modules]="quillConfig"
        class="custom-quill-editor"
      ></quill-editor>
      <div *ngIf="createForm.get('content')?.invalid && createForm.get('content')?.touched" class="error">
        El contenido es obligatorio.
      </div>
    </div>




    <!-- Categoría y Permisos en dos columnas con títulos -->
    <div class="form-grid">
      <div class="form-column labels title">Categoría</div>
      <div class="form-column inputs title">Acceso</div>

      <div class="form-column labels">
        <label for="is_public">Público</label>
        <label for="authenticated">Autenticado</label>
        <label for="team">Equipo</label>
        <label for="owner">Propietario</label>
      </div>

      <div class="form-column inputs">
        <!-- Público -->
        <select id="is_public" class="form-control" formControlName="is_public">
          <option *ngFor="let permission of permissions_public" [value]="permission">
            {{ permission }}
          </option>
        </select>

        <!-- Autenticado -->
        <select id="authenticated" class="form-control" formControlName="authenticated">
          <option *ngFor="let permission of permissions"
                  [value]="permission"
                  [disabled]="createForm.get('team')?.value === 'none' ||
                              (createForm.get('team')?.value === 'read only' && permission === 'read and edit')">
            {{ permission }}
          </option>
        </select>

        <!-- Equipo -->
        <select id="team" class="form-control" formControlName="team">
          <option *ngFor="let permission of permissions" [value]="permission">{{ permission }}</option>
        </select>

        <!-- Dueño -->
        <select id="owner" class="form-control" formControlName="owner">
          <option *ngFor="let permission of permissions_owner" [value]="permission">{{ permission }}</option>
        </select>
      </div>

    </div>

    <!-- Botones -->
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Crear Publicación</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
