

<div class="comments-section" *ngIf="Comments.length > 0; else noComments">
  <h3 class="comments-title">Comentarios:</h3>
  <ul class="comments-list">
    <li class="comment" *ngFor="let comment of Comments">
      <p class="comment-content">{{ comment.content }}</p>
      <small class="comment-author">
        Escrito por: {{ comment.username }} | {{ comment?.created_at | date:'short' }}
      </small>
    </li>
  </ul>
</div>

<ng-template #noComments>
  <p class="no-comments">No hay comentarios para este post.</p>
</ng-template>

<!-- Error message -->
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div class="comment-box">
  <h4>Añadir un comentario</h4>
  <textarea [(ngModel)]="commentContent" placeholder="Escribe tu comentario aquí..." class="comment-input"></textarea>

  <div class="button-group">
    <button (click)="addCommentToPost()" [disabled]="!commentContent" class="submit-btn">
      Enviar
    </button>
    <button (click)="clearCommentInput()" class="cancel-btn">
      Cancelar
    </button>
  </div>
</div>
