.likes-container {
  background: linear-gradient(135deg, #90beeb, #dfdce3, #8dc2e3); /* Azul -> Morado -> Verde */
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  color: #1c22d9;
}

.likes-container h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.likes-list {
  list-style-type: disc; /* Usa viñetas (puntos) */
  padding: 10px 20px;
  margin: 0;
  background: white; /* Fondo blanco para toda la lista */
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #baac48;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alinea los nombres a la izquierda */
}

.like-item {
  display: list-item; /* Mantiene el formato de viñeta */
  margin: 5px 0;
}

.no-likes-container {
  background: linear-gradient(135deg, #ddf4f7, #c4e9ed, #acd9f5);
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.no-likes-message {
  font-size: 18px;
  font-style: italic;
  color: #181818;
}
