<nav class="nav-bar">
  <div class="button-group">
    <!-- Mostrar botón de Register y Login solo si no está autenticado -->
    <button class="nav-btn" *ngIf="!isAuthenticated" (click)="navigateToRegister()">Register</button>
    <button class="nav-btn" *ngIf="!isAuthenticated" (click)="navigateToLogin()">Login</button>

    <!-- Mostrar el componente de Logout solo si está autenticado -->
    <app-logout *ngIf="isAuthenticated"></app-logout>
  </div>
</nav>

<div *ngIf="blogPosts.length; else noPosts">
  <div *ngFor="let post of blogPosts" class="post"
       [ngClass]="{ 'pulsate': activePostId === post.id }"
       (click)="handlePostClick(post.id)">
    <h2 class="post-title">{{ post.title }}</h2>
    <p>{{ post.excerpt }}</p>
    <small>By: {{ post.username }} | {{ post.created_at | date: 'short' }}</small>
    <p class="post-equipo">Equipo: {{ post.equipo }}</p>
    <div class="post-stats">
      <span class="likes">❤️ {{ post.likes_count }} Likes</span>
      <span class="comments">💬 {{ post.comments_count }} Comments</span>
    </div>
  </div>
</div>

<ng-template #noPosts>
  <p class="no-posts">No posts available.</p>
</ng-template>
