.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: transparent;
}

.button-group {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: #6581e4;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.nav-btn:hover {
  background-color: #5a71e1;
}

.no-posts {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: #666;
}

.post {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.post-equipo {
  font-style: italic;
  color: #555;
  margin-top: 5px;
}

.post {
  cursor: pointer;
  transition: transform 0.1s ease;
}

.post.pulsate {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.05);
}

.post-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

